<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

<div class="container text-center">
    <h1>Welcome To The Campfire!</h1>
    <br>
    Which scout are you here for? 
    <br>
    <form action="{% url 'budget' %}">
        <select name="scoutType">
            <option value="cub">Cub Scout</option>
            <option value="scoutBSA">Scout BSA</option>
        </select>
        <br>
        <input type="submit" value="Submit and go to the Budget" class="btn btn-primary">
    </form>
</div>
